{{define "todoLists"}}
    {{range .}}
        {{template "todoList" .}}
    {{end}}
    {{template "spacer" .}}
    <script>
      function afterSwapTodoListContainer(event) {
        let container = event.target;
        if(event.detail.requestConfig.headers['HX-Trigger'] === 'create-todo-btn') {
          container.scrollTop = container.scrollHeight;
        }
      }
    </script>
{{end}}

{{define "todoList"}}
  <div 
    id="todoList-{{.Id}}"
    class="htmx-zoom-out group/todolist md:dark:bg-gray-700 rounded md:px-5 py-5 my-3 md:my-4 mx-0 md:mx-3 max-w-screen md:shadow-lg rounded-lg w-full md:w-auto"
  >
      <!-- Title Input Field -->
    <div class="flex justify-between p-2">
      <input 
        name="title"
        type="text"
        placeholder="Title"
        value="{{.Title}}"

        hx-put="/todo-lists"
        hx-trigger="input changed delay:1s"
        hx-swap="innerHTML"
        hx-vals='{"id": {{.Id}}}'

        class="placeholder:text-gray-500 p-0 md:px-2 py-1 text-sm font-bold border-0 focus:outline-none text-lg block"
      />

      {{template "delete-todolist-btn" .}}
    </div>

      <!-- Todo List Container -->
      <div 
        id="todoList-container-{{.Id}}"
        class="overflow-auto no-scrollbar bg-gradient-to-bl dark:from-gray-900 dark:via-gray-800 dark:to-gray-900 w-screen md:w-auto from-blue-100 via-indigo-100 to-purple-100  dark:bg-gray-600 md:rounded-lg mt-3 h-57"
        hx-on::after-swap="afterSwapTodoListContainer(event)"
      >
        {{range .Todos}}
            {{template "todo" .}}
        {{end}}
      </div>
      {{template "create-todo-btn" .}}
  </div>
{{end}}

